.container {
    max-width: 1280px;
    margin: 0 auto;

    .country_list_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        margin: 0 auto;

        .country_card {
            border: 1px solid #e0e0e0;
        }

        margin-top: 100px;

        // @media screen and (max-width: 1024px) {
        //     grid-template-columns: 1fr 1fr 1fr;
        // }
    }
}

//move to nav-bar.scss

.nav-bar {
    width: 100%;
    height: 80px;
    border: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
}
.dark .nav-bar {
    background-color: #2b3945;
    color: white;
}

.search_and_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    margin: 130px auto 0;
}

.dark-theme .country_card {
    h3,
    p {
        color: #fff;
    }
}
