@import "../../css/variables.scss";
@import "../../css/media_queries.scss";

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 55px;

    @include mobile {
        padding: 0 16px;
    }

    .country_list_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 75px;
        width: 100%;
        margin: 0 auto;

        &.single_country {
            @include tablet {
                max-width: 300px;
                margin-left: 0;
                margin-right: 0;
                display: block;
            }
        }

        @include desktop-large {
            grid-template-columns: repeat(4, 1fr);
        }

        @include mobile {
            max-width: 265px;
        }

        .country_card {
            background-color: #fff;
            border-radius: 5px;
            filter: drop-shadow(0 0 4px $shadow-light);
            @include desktop-large {
                max-width: 265px;
            }
            &:hover {
                transform: scale(1.02);
                filter: drop-shadow(8px 8px 8px $shadow-light);
                transition: all 0.3s ease-in-out;
            }
        }

        margin-top: 100px;

        .country_flag {
            width: 100%;
            height: 160px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
        .country_info {
            padding: 0 25px 30px 25px;
            h3 {
                font-size: 18px;
                font-weight: 800;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                margin: 5px 0;
            }
            .country_info_label {
                font-weight: bold;
                margin-right: 4px;
            }
        }
    }
}

.dark-theme .country_list_container .country_card {
    h3,
    p {
        color: #fff;
    }

    background-color: $dark-grey;
    filter: drop-shadow(0 0 7px $shadow-dark);

    &:hover {
        transform: scale(1.02);
        filter: drop-shadow(8px 8px 8px $shadow-dark);
        transition: all 0.3s ease-in-out;
    }
}

.error_container {
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
