@import "../../css/variables.scss";
@import "../../css/media_queries.scss";

.country_details {
    color: $dark-text;
    padding: 0 55px;
    max-width: 1280px;
    margin: 0 auto;

    @include mobile {
        padding: 0 16px;
    }

    .country_details_info {
        // border: 1px solid grey;

        .info_text {
            margin: 10px 0;
            @include mobile {
                font-size: 14px;
            }
        }

        .info_label {
            font-weight: 600;
            margin-right: 5px;
        }
    }

    .back_button {
        background-image: url("../../../public/assets/arrows-left.svg");
        background-position: 34px center;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        margin-top: 160px;
        width: 135px;
        height: 40px;
        border-radius: 5px;
        border: none;
        border: 1px solid grey;
        color: $dark-text;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
        background-color: #fff;
        border: none;
        filter: drop-shadow(0 0 4px $shadow-light);
        &:hover {
            background-color: darken(#fff, 3%);
        }

        .button_text {
            margin-left: 25px;
        }

        @include mobile {
            height: 32px;
            width: 105px;
            margin-top: 120px;
            background-position: 22px center;
            font-size: 14px;
        }
    }

    .country_details_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin-top: 70px;
        align-items: center;

        @include tablet {
            grid-gap: 50px;
        }

        @include desktop {
            grid-gap: 120px;
        }
        .country_flag {
            width: 100%;
        }

        .info_list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            @include mobile {
                grid-template-columns: 1fr;
            }
        }

        .border_countries {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 0;
            align-items: center;

            @include mobile {
                margin-bottom: 30px;
            }

            .border_countries_heading {
                margin: 0;
                margin-right: 15px;
                font-size: 16px;
            }

            .border_country_name {
                background-color: #fff;
                padding: 5px;
                border: none;
                border-radius: 5px;
                min-width: 90px;
                filter: drop-shadow(0 0 4px $shadow-light);
                cursor: pointer;
                height: 32px;
                font-size: 14px;

                &:hover {
                    background-color: darken(#fff, 3%);
                }

                @include mobile {
                    font-size: 12px;
                    min-width: 70px;
                    height: 28px;
                }
            }
        }

        .country_name {
            margin-top: 0;
            @include mobile {
                font-size: 22px;
            }
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }
}

.dark-theme .country_details {
    color: #fff;
    .country_details_container .border_country_name,
    .back_button {
        background-color: $dark-grey;
        filter: drop-shadow(0 0 4px $shadow-dark);
        &:hover {
            background-color: lighten($dark-grey, 5%);
        }
    }

    .back_button {
        color: #fff;
        background-image: url("../../../public/assets/arrows-left-white.svg");
    }
}

.country_not_found {
    font-size: 30px;
    height: 100vh;

    @include mobile {
        font-size: 20px;
    }

    p {
        margin: 0 auto;
        display: block;
        width: fit-content;
        top: 50%;
        position: relative;
        a {
            text-decoration: underline;
            color: #00f;
        }
    }
}
