@import "../../css/variables.scss";
@import "../../css/media_queries.scss";

// #region {
//     width: 200px;
//     height: 56px;
//     padding-left: 20px;
//     border: none;
//     &::after {
//         position: absolute;
//         content: "";
//         top: 14px;
//         right: 10px;
//         width: 0;
//         height: 0;
//         border: 6px solid transparent;
//         border-color: #fff transparent transparent transparent;
//     }
// }

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 53px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

.dropdown .dropdown-content {
    cursor: pointer;
    display: block;
    &.hide {
        display: none;
    }
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
