@import "../../css/media_queries.scss";
@import "../../css/variables.scss";

.skeleton_container {
    margin-top: 100px;
    width: 100%;
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    @include desktop-large {
        grid-template-columns: repeat(4, 1fr);
    }

    @include mobile {
        margin: 100px auto;
        max-width: 265px;
    }
}

.dark-theme .card {
    background-color: $dark-grey;
}

@media screen and (max-width: 600px) {
    .container {
        margin: -0.5rem;
    }
}

.card {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(82, 88, 102, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.card__header {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.card__header .header__img {
    height: 2rem;
    width: 2rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.card__header .header__title {
    font-size: 1.0625rem;
    line-height: 1.375rem;
    color: #0e1217;
    font-weight: 700;
    margin: 0.5rem;
}

.card__body {
    margin: 0 0.5rem;
}

.card__body .body__img {
    height: 10rem;
    margin: 0.5rem 0;
}

.card__body .body__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: auto;
}

.skeleton {
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
    animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
    0% {
        background-color: #c2cfd6;
    }
    100% {
        background-color: #f0f3f5;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #c2cfd6;
    }
    100% {
        background-color: #f0f3f5;
    }
}

.skeleton-text {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.skeleton-text__small {
    width: 75%;
}
