@import "../../css/variables.scss";
@import "../../css/media_queries.scss";

input[type="text"].search_field {
    width: 480px;
    height: 56px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    background-image: url("../../../public/assets/search_icon.svg");
    background-position: 25px center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 65px;
    filter: drop-shadow(0 0 7px $shadow-light);
    &:focus-visible {
        outline: none;
    }

    @include mobile {
        width: 100%;
        font-size: 12px;
    }
}

.dark-theme input[type="text"].search_field {
    background-color: $dark-grey;
    background-image: url("../../../public/assets/search_icon_white.svg");
    filter: drop-shadow(0 0 7px $shadow-dark);
    &::placeholder {
        color: #fff;
    }
}
