@import "../../../css/variables.scss";
@import "../../../css/media_queries.scss";
@import "../../../css/functions.scss";

.container {
    max-width: pxToRem(1280px);
    margin: 0 auto;
    padding: 0 pxToRem(55px);

    @include mobile {
        padding: 0 1rem;
    }

    .country_list_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(pxToRem(250px), 1fr));
        grid-gap: pxToRem(75px);
        width: 100%;
        margin: 0 auto;
        margin-top: pxToRem(52px);

        &.single_country {
            @include tablet {
                max-width: pxToRem(300px);
                margin-left: 0;
                margin-right: 0;
                display: block;
            }
        }

        @include desktop-large {
            grid-template-columns: repeat(4, 1fr);
        }

        @include mobile {
            max-width: pxToRem(265px);
            margin-top: pxToRem(90px);
        }

        .country_card {
            background-color: #fff;
            border-radius: pxToRem(5px);
            filter: drop-shadow(0 0 4px $shadow-light);
            @include desktop-large {
                max-width: pxToRem(265px);
            }
            &:hover {
                transform: scale(1.02);
                filter: drop-shadow(8px 8px 8px $shadow-light);
                transition: all 0.3s ease-in-out;
            }
            .country_name {
                font-size: pxToRem(18px);
            }
        }

        .country_flag {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: pxToRem(5px) pxToRem(5px) 0 0;
        }
        .country_info {
            padding: 0 pxToRem(25px) pxToRem(30px) pxToRem(25px);
            h3 {
                font-size: pxToRem(18px);
                font-weight: 800;
                margin-bottom: pxToRem(20px);
            }
            p {
                font-size: pxToRem(14px);
                font-weight: 300;
                margin: pxToRem(5px) 0;
            }
            .country_info_label {
                font-weight: bold;
                margin-right: pxToRem(4px);
            }
        }
    }
}

.dark-theme .country_list_container .country_card {
    h3,
    p {
        color: #fff;
    }

    background-color: $dark-grey;
    filter: drop-shadow(0 0 7px $shadow-dark);

    &:hover {
        transform: scale(1.02);
        filter: drop-shadow(8px 8px 8px $shadow-dark);
        transition: all 0.3s ease-in-out;
    }
}

.error_container {
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty_list {
    display: none;
}

.searching .empty_list {
    display: block;
}
